<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
  <header>
    <h1>{% block header %}Мой сайт{% endblock %}</h1>
  </header>
  <nav>
    <ul>
      <!-- Здесь может быть ваше навигационное меню -->
    </ul>
  </nav>
  <section>
    {% block content %}{% endblock %}
  </section>
  <footer>
    <!-- Здесь может быть информация в подвале -->
  </footer>
</body>
</html>
