/* src/components/Navbar.css */

.navbar {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 2.5rem;
  margin-right: 10px;
}

.navbar-caption {
  font-size: 1.5rem;
  color: #111111;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #111111;
  transition: transform 0.5s ease, opacity 0.5s ease, top 0.5s ease;
}

.navbar-toggler.open .hamburger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler.open .hamburger span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.open .hamburger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #111111;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-buttons {
  margin-left: auto;
}

.btn {
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    padding: 10px;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    display: block;
  }
}
